body {
    background-color: #DDC366;
}

.fishdiv {
    color: #0000FF;
    float: left;
}

table {
    table-layout: fixed;
}

td:nth-child(even) {
    text-align: right;
    width: 70%;
}

.fishrighthanded {
    float: right;
    color: #0000FF;
}

.golddiv {
    float: left;
}

.goldrighthanded {
    float: right;
}

.statuswindow {
    border: groove;
    border-color: #ffc520;
    border-width: 5px;
    padding: 5px;
    width: 155px;
    height: 100px;
    display: inline-block;
    overflow: auto;
    float: left;
}

.jobswindow {
    border: groove;
    border-color: #ffc520;
    border-width: 5px;
    padding: 5px;
    width: 155px;
    display: inline-block;
    height: 100px;
    text-align: center;
    overflow: auto;
    float: left;
}

.sellwindow {
    border: groove;
    border-color: #ffc520;
    border-width: 5px;
    padding: 5px;
    width: 255px;
    height: 100px;
    display: inline-block;
    float: left;
}

.logwindow {
    border: groove;
    border-color: #ffc520;
    border-width: 5px;
    padding: 5px;
    width: 465px;
    display: inline-block;
    height: 300px;
    text-align: center;
    overflow-y: scroll;
    float: right;
}
