<h2>Achievements</h2>

<div style="padding-top: 10px">
    Unlocking achievements increase the price of fish.
</div>
<div>
    Current Price increase: <b>{{achiev.unlockcount.amount*2.5}}%</b>

</div>
<div style="padding-top: 10px">
    Unlocked achievements: {{achiev.unlockcount.amount}}/{{achiev.length}}
    <md-progress-linear style="width: 50%" md-mode="determinate" value="{{achiev.unlockcount.amount/achiev.length*100}}"></md-progress-linear>
</div>
<div style="padding-top:50px">
        <md-list layout="row" layout-wrap layout-margin style="max-width: 720px">
            <md-list-item class="md-3-line" ng-repeat="item in achiev.all | filter:{revealed:true}" style="width: 300px">
                <img ng-src="images/currencyfish.png" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{item.title}}<span ng-if="item.unlocked" style="color:green" class="glyphicon glyphicon-ok"></span></h3>
                    <h4>{{item.subtext}}</h4>
                    <h5>{{item.content}}</h5>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ng-repeat="item in achiev.all | filter:{revealed:false}" style="width: 300px">
                <img ng-src="images/currencyfish.png" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                    <h3>???</h3>
                    <h4>???</h4>
                    <h5>???</h5>
                </div>
            </md-list-item>
        </md-list>
</div>