<div class="content">
    <h2>Changelog</h2>
    <ul>
        <h4>v.004i - <span>13/08/2015</span></h4>
        <li>Animations</li>
        <li>Flicker on page load fixed</li>
    </ul>

    <h4>v.003i - <span>13/08/2015</span></h4>
    <ul>
        <li>Source clean up. Easier to read and edit.</li>
        <li>Well...that ended in 90% rewrite and took all day. Sigh.</li>
        <li>Research deactivated...for now</li>
    </ul>

    <h4>v.002 - <span>12/08/2015</span></h4>
    <ul>
        <li><s>Whole table is now clickable</s> - not 100% yet</li>
        <li>Fixed fish per sec "exploding"</li>
        <li>Dropdown Menu
        <li>Go Fish button now deactivates</li>
    </ul>
    <h4>v.001 - <span>12/08/2015</span></h4>
    <ul>
        <li>Prototype</li>
    </ul>
</div>
