<div class="content">
    <h2>Changelog</h2>
    <h4>v.019 - <span>12/31/2015</span></h4>
    <ul>
        <li>Bugfixes</li>
    </ul>
    <h4>v.018 - <span>12/30/2015</span></h4>
    <ul>
        <li>More achievements</li>
        <li><s>Worked around</s>Fixed a bug on the achievement page.</li>
        <li>Achievements now save too.</li>
        <li>Achievement popup a little longer.</li>
        <li>Achievement-buff slightly nerfed.</li>
        <li>First pearl now at 1B</li>
    </ul>
    <h4>v.017 - <span>12/29/2015</span></h4>
    <ul>
        <li>Achievements!</li>
    </ul>
    <h4>v.016 - <span>12/28/2015</span></h4>
    <ul>
        <li>"Locked" units now hidden from the pearl-tab.</li>
        <li>New units.</li>
        <li>Various fixes.</li>
    </ul>
    <h4>v.015 - <span>12/28/2015</span></h4>
    <ul>
        <li>Whoops autoload did not work. Works now.</li>
    </ul>
    <h4>v.014 - <span>12/28/2015</span></h4>
    <ul>
        <li>Changed a few values around. :)</li>
        <li>New units.</li>
    </ul>
    <h4>v.013i - <span>12/26/2015</span></h4>
    <ul>
        <li>Options speed-dial</li>
        <li>Whole table finally clickable<img src="images/minishia.png"></li>
    </ul>
    <h4>v.012i - <span>12/20/2015</span></h4>
    <ul>
        <li>Autosave.</li>
        <li>Skeleton.css gone.</li>
        <li>Hello Angular Material.</li>
    </ul>
    <h4>v.011 - <span>12/16/2015</span></h4>
    <ul>
        <li>Office Worker now require fish to increase their efficiency. [test]</li>
        <li>Buffed ascension stuff yet again.</li>
        <li>Fish & Dollar sprite.</li>
        <li>Missing quotes are back.</li>
    </ul>
    <h4>v.010 - <span>12/15/2015</span></h4>
    <ul>
        <li>Buffed the secret stuff.</li>
        <li>Office Worker 10% cheaper.</li>
    </ul>
    <h4>v.009 - <span>12/14/2015</span></h4>
    <ul>
        <li>Secret ascension stuff...</li>
        <li>Balance..zZz</li>
    </ul>
    <h4>v.008i - <span>12/12/2015</span></h4>
    <ul>
        <li>More balancing.</li>
        <li>Buy 10/<s>Buy 100</s> Buttons.</li>
    </ul>
    <h4>v.007 - <span>12/11/2015</span></h4>
    <ul>
        <li>Balancing...</li>
    </ul>
    <h4>v.006 - <span>12/11/2015</span></h4>
    <ul>
        <li>Quick and dirty balancing</li>
    </ul>
    <h4>v.005 - <span>12/11/2015</span></h4>
    <ul>
        <li>Research scratched, again...</li>
        <li>Research prototype 2.0 "mpf"</li>
    </ul>

    <h4>v.004i - <span>12/10/2015</span></h4>
    <ul>
        <li>Animations</li>
        <li>Flicker on page load fixed</li>
        <li>Tickrate upped for fishers (cosmetic)</li>
        <li>Research-Prototype...not too happy</li>
    </ul>

    <h4>v.003i - <span>12/09/2015</span></h4>
    <ul>
        <li>Source clean up. Easier to read and edit.</li>
        <li>Well...that ended in 90% rewrite and took all day. Sigh.</li>
        <li>Research deactivated...for now</li>
    </ul>

    <h4>v.002 - <span>12/08/2015</span></h4>
    <ul>
        <li><s>Whole table is now clickable</s> - not 100% yet</li>
        <li>Fixed fish per sec "exploding"</li>
        <li>Dropdown Menu
        <li>Go Fish button now deactivates</li>
    </ul>
    <h4>v.001 - <span>12/08/2015</span></h4>
    <ul>
        <li>Prototype</li>
    </ul>
</div>
