<div style="width: 20%; float: left; margin-right: 15px;">
  <table class="table unit-table table-hover">
    <tr>
      <td><a ng-href="#/tab/dollars/officeworker">Office Worker</a></td>
      <td style="text-align: right;">{{main.user.units['officeworker'].owned}}</td>
    </tr>
    <tr>
      <td><a ng-href="#/tab/dollars">Dollars</a></td>
      <td style="text-align: right;">{{main.user.units['dollar'].owned | floor}}</td>
    </tr>
  </table>
</div>


<div class="content">
    <h2>Dollars</h2>

    <p>Money makes the world go round.<br>

        <br>You have {{main.user.units['dollar'].owned | floor}} Dollars

    <p><i>"My precious!"</i></p>

    <span ng-if="main.user.isSelling"><button disabled ng-click="main.user.sellFish()">Sell Fish</button></span>
    <span ng-if="!main.user.isSelling"><button ng-click="main.user.sellFish()">Sell Fish</button></span>

    <!-- make this work, somehow...
    <flashbutton flashDelay="500" flashOnSuccess="main.user.sellFish()">Sell Fish</flashbutton>
    -->
</div>

