<fishtab>

</fishtab>
<div class="content">
  <h2>Fisher</h2>

  <p>The fellow that catches the fish from the depths of the oceans.
    He is <b>very slow</b> but he never tires.<br>

    <br>You own {{main.user.fisher}} Fisher
    <br>1 Fisher costs {{main.user.fisherPrice | number:2}} Dollars
    <br>1 Fisher catches 1 Fish every 5 seconds</p>

  <p><i>"Meh, let's go fishing!"</i></p>
  <button ng-click="main.user.buyOneFisher()">Buy 1 Fisher!</button>
  <button>Buy 10 Fisher!</button>
  <button>Buy 100 Fisher!</button>
</div>
