<div class="statuswindow">
  <!--
  <p class="fishdiv">Fish: <p class="fishrighthanded">{{fish}}</p></p>
  <p class="golddiv">Gold: <p class="goldrighthanded">{{goldReadable}}</p></p>
  -->
  <table class="u-full-width">
    <tr>
      <td><span style="color:blue">Fish:</span></td>
      <td><span style="color:blue">0</span></td>
    </tr>
    <tr>
      <td><span style="color:yellow">Gold:</span></td>
      <td><span style="color:yellow">10</span></td>
    </tr>
    <tr>
      <td>temp:</td>
      <td>100</td>
    </tr>
    <tr>
      <td>temp:</td>
      <td>100</td>
    </tr>
    <tr>
      <td>temp:</td>
      <td>100</td>
    </tr>
  </table>
</div>

<div class="sellwindow">
</div>

<div class="jobswindow">
</div>
<div class="logwindow">
  <div ng-repeat="log in logData track by $index">{{log}}</div>
  Jo hier ist ein dicker Eintrag.
  <br>Hier auch.
</div>
