<dollartab></dollartab>

<div class="content">
  <h2>Office Worker</h2>

  <p>Working 9 to 5 this guy automatically sells your fish.<br>

    <br>You own {{main.user.officeWorkers}} Office Workers
    <br>1 Office Worker costs {{main.user.officeWorkerPrice | number:2}} Dollars
    <br>1 Office Worker sells 1 Fish per Second</p>

  <p><i>"God I hate this job!"</i></p>
  <button ng-click="main.user.buyOneOfficeWorker()">Buy 1 Worker!</button>
  <button>Buy 10 Worker!</button>
  <button>Buy 100 Worker!</button>
</div>

