<div style="width: 20%; float: left; margin-right: 15px;">
    <table class="table unit-table table-hover">
        <tr>
            <td><a ng-href="#/tab/dollars/officeworker">Office Worker</a></td>
            <td style="text-align: right;">{{unit.owned('officeworker')}}</td>
        </tr>
        <tr>
            <td><a ng-href="#/tab/dollars/dollar">Dollars</a></td>
            <td style="text-align: right;">{{unit.owned('dollar') | floor}}</td>
        </tr>
    </table>
</div>


<div class="content">
    <h2>{{unit.cur.name}}</h2>

    <p>{{unit.cur.subtext}}<br>


        <br>You own {{unit.cur.owned | floor}} {{unit.cur.plural}}

    <span ng-show="unit.cur.price > 0">
        <br>1 Office Worker costs {{unit.cur.price | number:2}} Dollars
        <br>1 Office Worker sells {{unit.cur.efficiency }} Fish per Second
        <br>In total your Office Worker sell {{unit.cur.owned * unit.cur.efficiency | floor}} fish per second
    </p></span>

    <p><i>{{unit.cur.quote}}</i></p>

    <div ng-show="unit.cur.price > 0">
        <table>
            <thead>
            <th style="text-align: center">
                {{unit.getPrice(1) | floor}}
            </th>
            <th style="text-align: center">
                {{unit.getPrice(10) | floor}}
            </th>
            <th style="text-align: center">
                {{unit.getPrice(100) | floor}}
            </th>
            </thead>
            <tr>
                <td>
                  <span ng-show="unit.allUnits['dollar'].owned >= unit.getPrice(1)">
                  <button ng-click="unit.buy(unit.cur, 1)">Buy 1 {{unit.cur.name}}!</button>
                  </span>
                  <span ng-show="unit.allUnits['dollar'].owned < unit.getPrice(1)">
                      <button disabled>Buy 1 {{unit.cur.name}}!</button>
                  </span>
                </td>
                <td>
                  <span ng-show="unit.allUnits['dollar'].owned >= unit.getPrice(10)">
                  <button ng-click="unit.buy(unit.cur, 10)">Buy 10 {{unit.cur.name}}!</button>
                  </span>
                  <span ng-show="unit.allUnits['dollar'].owned < unit.getPrice(10)">
                      <button disabled>Buy 10 {{unit.cur.name}}!</button>
                  </span>
                </td>
                <td>
                  <span ng-show="unit.allUnits['dollar'].owned >= unit.getPrice(100)">
                  <button ng-click="unit.buy(unit.cur, 100)">Buy 100 {{unit.cur.name}}!</button>
                  </span>
                  <span ng-show="unit.allUnits['dollar'].owned < unit.getPrice(100)">
                      <button disabled>Buy 100 {{unit.cur.name}}!</button>
                  </span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="unit.cur.price == undefined">
        <button ng-click="unit.sellFish()">Sell Fish!</button>
    </div>

</div>
