<div class="content-research" ng-controller="ResearchCtrl as research">
    <h2>Research</h2>

    <table class="table table-striped">
        <thead>
        <th>Unit</th>
        <th>Cost</th>
        <th>Currency</th>
        <th>Effect</th>
        <th>Research</th>
        </thead>
        <tr ng-repeat="unit in research.units" ng-show="unit.upgradeprice > 0 && unit.unlocked==true">
            <td>{{unit.name}}</td>
            <td>{{unit.upgradeprice | floor}}
            </td>
            <td>
                <img src="images/currencyfish.png" ng-if="unit.upgradecurrency == 'fish'">
                <img src="images/currencydollar.png" ng-if="unit.upgradecurrency == 'dollar'">
            </td>
            <td>x{{unit.efficiencyfactor}}</td>
            <td>
                <div ng-show="research.units[unit.upgradecurrency].owned >= unit.upgradeprice">
                    <md-button class="md-raised" ng-click="research.upgradeUnit(unit)">Research</md-button>
                </div>
                <div ng-show="research.units[unit.upgradecurrency].owned < unit.upgradeprice">
                    <md-button ng-disabled="true" class="md-raised" ng-click="research.upgradeUnit(unit)">Research
                    </md-button>
                </div>
            </td>
        </tr>
    </table>
</div>
