<fishtab>

</fishtab>
<div class="content" ng-controller="UnitCtrl as unit">
  <h2>{{unit.cur.name}}</h2>

  <span ng-if="unit.cur.subtext != ''"><p>{{unit.cur.subtext}}<br></span>
  <br>You own {{unit.cur.owned}} {{unit.cur.name}}
  <span ng-if="unit.cur.price > 0">
    <br>1 {{unit.cur.name}} costs {{unit.cur.price | number:2}} Dollars
  </span>
  <span ng-if="unit.cur.efficiency > 0">
    <br>1 {{unit.cur.name}} catches {{unit.cur.efficiency * 10}} Fish every 1 seconds
  </span>
  <span ng-if="unit.cur.efficiency > 0">
    <br>In total your {{unit.cur.name}} catch {{unit.cur.owned * unit.cur.efficiency * 10 | floor}} fish per second</p>
  </span>

  <p><i>"{{unit.cur.quote}}"</i></p>
  <span ng-if="unit.cur.price > 0">
  <button ng-click="unit.buyOne(unit.cur)">Buy 1 {{unit.cur.name}}!</button></span>

  <!-- Straight up hack to get the fishing button to show up on the fishing page -->
  <span ng-if="unit.cur.price == 0">

  </span>
</div>
