<div style="width: 20%; float: left; margin-right: 15px;" ng-controller="UnitCtrl as unit">
    <table class="table unit-table table-hover">
        <tr ng-click="unit.selectUnit('/fish/nuke')" class="animate-show"
            ng-hide="unit.allUnits['ufo'].owned < 5">
            <td><a ng-href="#/tab/fish/nuke">Nukes</a></td>
            <td style="text-align: right;">{{unit.owned("nuke") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/ufo')" class="animate-show"
            ng-hide="unit.allUnits['submarine'].owned < 5">
            <td><a ng-href="#/tab/fish/ufo">Ufos</a></td>
            <td style="text-align: right;">{{unit.owned("ufo") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/submarine')" class="animate-show"
            ng-hide="unit.allUnits['xenomorph'].owned < 5">
            <td><a ng-href="#/tab/fish/submarine">Submarines</a></td>
            <td style="text-align: right;">{{unit.owned("submarine") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/xenomorph')" class="animate-show"
            ng-hide="unit.allUnits['plane'].owned < 5">
            <td><a ng-href="#/tab/fish/submarine">Xenomorphs</a></td>
            <td style="text-align: right;">{{unit.owned("xenomorph") | floor}}</td>
        </tr>


        <tr ng-click="unit.selectUnit('/fish/plane')" class="animate-show" ng-hide="unit.allUnits['robot'].owned < 5">
            <td><a ng-href="#/tab/fish/plane">Planes</a></td>
            <td style="text-align: right;">{{unit.owned("plane") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/robot')" class="animate-show" ng-hide="unit.allUnits['tank'].owned < 5">
            <td><a ng-href="#/tab/fish/robot">Robots</a></td>
            <td style="text-align: right;">{{unit.owned("robot") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/tank')" class="animate-show" ng-hide="unit.allUnits['boat'].owned < 5">
            <td><a ng-href="#/tab/fish/tank">Tanks</a></td>
            <td style="text-align: right;">{{unit.owned("tank") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/boat')" class="animate-show" ng-hide="unit.allUnits['cat'].owned < 5">
            <td><a ng-href="#/tab/fish/boat">Boats</a></td>
            <td style="text-align: right;">{{unit.owned("boat") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/cat')" class="animate-show" ng-hide="unit.allUnits['grandpa'].owned < 5">
            <td><a ng-href="#/tab/fish/cat">Cats</a></td>
            <td style="text-align: right;">{{unit.owned("cat") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/grandpa')" class="animate-show" ng-hide="unit.allUnits['dynamite'].owned < 5">
            <td><a ng-href="#/tab/fish/grandpa">Grandpas</a></td>
            <td style="text-align: right;">{{unit.owned("grandpa") | floor}}</td>
        </tr>

        <tr ng-click="unit.selectUnit('/fish/dynamite')" class="animate-show" ng-hide="unit.allUnits['net'].owned < 5">
            <td><a ng-href="#/tab/fish/dynamite">Dynamites</a></td>
            <td style="text-align: right;">{{unit.owned("dynamite") | floor}}</td>
        </tr>
        <tr ng-click="unit.selectUnit('/fish/net')" class="animate-show" ng-hide="unit.allUnits['fisher'].owned < 5">
            <td><a ng-href="#/tab/fish/net">Nets</a></td>
            <td style="text-align: right;">{{unit.owned("net") | floor}}</td>
        </tr>
        <tr ng-click="unit.selectUnit('/fish/fisher')">
            <td><a ng-href="#/tab/fish/fisher">Fisher</a></td>
            <td style="text-align: right;">{{unit.owned("fisher") | floor}}</td>
        </tr>
        <tr ng-click="unit.selectUnit('/fish/fish')">
            <td><a ng-href="#/tab/fish/fish">Fish</a></td>
            <td style="text-align: right;">{{unit.owned("fish") | floor }}</td>
        </tr>
    </table>
</div>

<div class="content" ng-controller="UnitCtrl as unit">
    <h2>{{unit.cur.name}}</h2>

    <div class="quotepadding">
        <!-- Spawn the <br> and subtext only if the subtext exists -->
        <span ng-if="unit.cur.subtext != ''"><p>{{unit.cur.subtext}}</span>
    </div>
    <br>You own {{unit.cur.owned | floor}} {{unit.cur.plural}}
  <span ng-if="unit.cur.price > 0">
    <br>1 {{unit.cur.name}} costs {{unit.cur.price | floorspecial}} Dollars
  </span>
  <span ng-if="unit.cur.efficiency > 0">
    <br>1 {{unit.cur.name}} catches {{unit.cur.efficiency * (1+unit.cur.pearlupgrades/10) | floorspecial}} Fish every 1 seconds
    <span ng-show="unit.cur.pearlupgrades > 0">({{unit.cur.pearlupgrades*10}}% Pearl Bonus)</span>
  </span>
  <span ng-if="unit.cur.efficiency > 0">
    <br>In total your {{unit.cur.plural}} catch {{unit.cur.owned * unit.cur.efficiency * (1+unit.cur.pearlupgrades/10)| floor}} fish per second</p>
  </span>

    <div class="quotepadding">
        <p><i>"{{unit.cur.quote}}"</i></p>
    </div>
  <span ng-if="unit.cur.price > 0">
      <table>
          <thead>
          <th style="text-align: center">
              {{unit.getPrice(1) | floor}}
          </th>
          <th style="text-align: center">
              {{unit.getPrice(10) | floor}}
          </th>
          </thead>
          <tr>
              <td>
                  <span ng-show="unit.allUnits['dollar'].owned >= unit.getPrice(1)">
                  <md-button class="md-raised" ng-click="unit.buy(unit.cur, 1)">Buy 1 {{unit.cur.name}}!</md-button>
                  </span>
                  <span ng-show="unit.allUnits['dollar'].owned < unit.getPrice(1)">
                  <md-button ng-disabled="true" class="md-raised">Buy 1 {{unit.cur.name}}!</md-button>
                  </span>
              </td>
              <td>
                  <span ng-show="unit.allUnits['dollar'].owned >= unit.getPrice(10)">
                  <md-button class="md-raised" ng-click="unit.buy(unit.cur, 10)">Buy 10 {{unit.cur.name}}!</md-button>
                  </span>
                  <span ng-show="unit.allUnits['dollar'].owned < unit.getPrice(10)">
                      <md-button ng-disabled="true" class="md-raised">Buy 10 {{unit.cur.name}}!</md-button>
                  </span>
              </td>
          </tr>
      </table>

  </span>

    <!-- Straight up hack to get the fishing button to show up on the fishing page -->
    <span ng-if="unit.cur.price == 0">
    <span ng-if="main.user.isFishing"><md-button ng-disabled="true" class="md-raised">Go Fish!</md-button></span>
    <span ng-if="!main.user.isFishing"><md-button class="md-raised" ng-click="main.user.goFish()">Go Fish!
    </md-button></span>
  </span>
</div>
